In [54]:
import pandas as pd

df = pd.read_excel(r'D:\test1\work.xlsx')

In [55]:
df['out-inn'] = df["out"] - df["inn"]

In [56]:
counti=0
for i in df['out-inn']:
    if i<0:
        df['out-inn'][counti]=i+24
        counti=counti+1
    else:
        counti=counti+1
df

    ID  inn  out  out-inn
0    1    9   10        1
1    2   10   12        2
2    3   14   17        3
3    4    2   15       13
4    5    3   20       17
5    6    6   22       16
6    7    7    8        1
7    8   18   23        5
8    9   16   20        4
9   10    5   11        6
10  11    6   11        5
11  12   11   18        7
12  13   12   17        5
13  14   18   23        5
14  15   16   17        1
15  16   14   20        6
16  17    4    6        2
17  18    5    9        4
18  19    6   23       17
19  20    8   22       14
20  12   24    2        2
21  23   23    2        3
22  17   24    1        1

In [57]:
out_inn=[]
inn=[]
for i in df['out-inn'].iteritems():
    out_inn.append(i[1])
for i in df['inn'].iteritems():
    inn.append(i[1])

In [58]:
l = [0] * 24

for count,item in enumerate(inn):
    mmp=item
    temp=out_inn[count]
    
    if mmp==24:
        mmp=0
    
    while temp > 0 and mmp<24:
        
        l[mmp]=l[mmp]+1
        
        temp=temp-1
        
        if mmp < 24:
            mmp=mmp+1   
        
        if mmp == 24:    
            mmp = 0

In [59]:
dict={}
for i in range(24):
    tempo=i+1
    string=str(i)+"-"+str(tempo)
    dict[string]=l[i]

In [60]:
dict

{'0-1': 3,
 '1-2': 2,
 '2-3': 1,
 '3-4': 2,
 '4-5': 3,
 '5-6': 5,
 '6-7': 7,
 '7-8': 8,
 '8-9': 8,
 '9-10': 8,
 '10-11': 8,
 '11-12': 7,
 '12-13': 7,
 '13-14': 7,
 '14-15': 9,
 '15-16': 8,
 '16-17': 10,
 '17-18': 7,
 '18-19': 8,
 '19-20': 8,
 '20-21': 5,
 '21-22': 5,
 '22-23': 3,
 '23-24': 1}

In [61]:
max_key = max(dict, key=dict.get)
print(max_key,"-",dict[max_key])

16-17 - 10